:root {
    --primary-color: #ebe2d3;
    --white: #fff;
    --grey: #D2D2D2;
    --dark: #3B3735;
    --app-bg:#FFEFD5;
    --footer_up: #353636;
    --footer_down: #474747;
    --primary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --primary-font-md: "Roboto Medium", Arial, Helvetica, sans-serif;
    --secondary-font: "Archivo Black", Arial, Helvetica, sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 10px */
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a,
a:hover{
    text-decoration: none;
}

ul{
    list-style: none;
}

body {
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    overflow-x: hidden;
}

.header{
    width: 100%;
    height: 90vh;
    background-image: url("../img/header.jpg");
    color: var(--white);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
}

.left-header{
   grid-column: 1/6;
    background-color: rgba(50,49,49,0.6);
    /* background-color: rgba(0, 0, 0, 0.6); */
}

.container{
    width: 95%;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* color: #fff; */
    background-color: rgba(227, 242, 253,0.5);
    border-radius: 5px;
    margin: 15px 0;
    height: 50px;
}

.logo{
    font-size: 38px;
}

.nav-items{
    width: 60%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 5px;
}

.item{
    cursor: pointer;
}

.item a{
    color: var(--white);
    font-size: 18px;
    text-decoration: none;    
}

.content{
    display: flex;
    margin-top: 20px;
    height: 80vh;
    color: var(--white);
}

.left-content{
    width: 25%;
}

.title{
    font-size: 24px;
}

.text{
    font-size: 14px;
    transform: rotate(-90deg);
    height: 25%;
    width: 400px;
    margin-left: -133px;
    margin-top: 150px;  
}

.right-content {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.left-title{
    grid-row: 1/2;
    grid-column: 2/5;
    align-self: center;
}

.paragraph{
    grid-row: 2/3;
    grid-column: 2/5;
}

.images{
    grid-row: 3/4;
    grid-column: 2/5;
    display: flex;
    justify-content: space-between;
}

.images img{
    width: 90px;
    height: 90px;
    clip-path: circle(50%);
}

.services{
    margin-top: -5rem;
    display: flex;
    margin-left: -1rem;
    margin-right: -1rem;
}

.service{
    background-color: var( --app-bg);
    width: 30rem;
    height: 20rem;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    color: var(--dark);
    margin-bottom: 2rem;
    flex-grow: 1;
    margin-right: 1rem;
    margin-left: 1rem;
}

.service__img img{
    width: 100%;
    height: 100%;
}

.sevice__title{
    font-size: 1rem;
}

.slider{
    margin-top: 15rem;
    margin-bottom: 10rem;
}
.swiper {
    width: 600px;
    height: 300px;
}

  .swiper__wrapper{
    display: flex;
}

.swiper-pagination {
    position: static !important;
    margin-top: 1rem;
}

.swiper-pagination-bullet {
    width: 1.8rem !important;
    height: 1.8rem !important;
    border: .3rem solid var(--grey) !important;
    background: var(--white) !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    border-color: var(--app-bg) !important;
}

.products__title{
    font-size: 5rem;
    padding-left: 10rem;
    margin-bottom: 3rem;
}

.product__lines{

}
.seating-line{
    display: flex;
    justify-content: space-around;
}

.seating-line .seating p,
.seating-line .sofa p{
    font-size: 2rem;
    font-weight: 700;
}

.seating-line .seating a img,
.seating-line .sofa a img{
    width: 100%;
}
.buffet-line{
    margin-top: 10rem;
}
.buffet{
    display: flex;
    justify-content: space-around;
}
.table-line{
    margin-top: 5rem;
}
.text__section{
    font-size: 3rem;
    font-weight: 700;
}
.tables{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.table img,
.chair img{
    width: 100%;
}

.visite{
display: flex;
flex-direction: column;
margin-top: 5rem;
}

.visite__title{
    width: 20%;
    margin: 0 auto;
    font-size: 4rem;
    margin-bottom: 2rem;
}
.footer a{
    color: var(--white);
}
.sub__footer{
   display: flex;
   flex-direction: column;
   color: var(--white);
}

.up{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--footer_up);
}

.footer__menu{
    display: block;
}

.down{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--footer_down);
}

/*  Product page  */

.main_title{}

.main_section{}
